@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    //background-color: #F7F7F7; //overflow-y: hidden;
    background-color: #F2F4F3; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

.max_width {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Header */
#main_header {
    background: #fff;
    height: 85px;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 30px 0px;

    .main_header_container {
        /* Logo section */
        .logo {
            font-family: montserrat;
            font-weight: 700;
            color: #000;
            font-size: 22px;
            text-transform: uppercase;
            padding-right: 30px;
        }
        /* Logo section */

        /* Search section */
        .search {
            display: flex;
            flex-grow: 1;
            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 600;
            padding-left: 15px;

            .mega_menu_select {
                font-size: 10px;
                display: flex;
                padding: 10px;
                border: 1px solid #ddd;
                margin-right: 5px;
                cursor: pointer;

                .browse_icon {
                    margin-left: 5px;
                    i {
                        color: #FD6721;
                        font-size: 18px;
                    }
                }
            }

            .search_input_div {
                width: 400px;
                position: relative;

                @include media-breakpoint-down(md) {
                    width: 250px;
                }
                @include media-breakpoint-down(sm) {
                    width: 200px;
                }

                .search_icon {
                    position: absolute;
                    top:12px;
                    left: 8px;
                    i {
                        font-size: 19px;
                        color: #888;
                    }
                }
                input {
                    height: 100%;
                    width: 100%;
                    background-color: #F7F7F7;
                    border: none;
                    outline: none;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.125);
                    outline: none;
                    border: none;
                    padding: 10px;
                    padding-left: 33px;
                    font-size: 14px;
                }
            }
        }
        /* Search section */

        /* Menu RHS section */
        .menu_rhs {
            display: flex;
            font-weight: 700;
            font-size: 13px;
            cursor: pointer;
            .text {

            }
            .button {
                margin-left: 15px;
                a {
                    color: #fff;
                    background-color: #FD6721;
                    padding: 10px 20px;
                    border-radius: 25px;
                    text-decoration: none;
                }
            }
        }
        /* Menu RHS section */
    }
}
/* Header */


/* Content */
#content {
    min-height: 75vh;

    .content_div {
        background-color: #fff;
        min-height: 300px;
        margin-top: 15px;
    }

    .content_div_large {
        min-height: 700px;
        margin-bottom: 45px;
    }
}
/* Content */


/* Footer */
#footer {
    #footer_top {
        background-color: #333333;
        color: #eee;
        min-height: 250px;
        padding-top: 40px;

        .footer_sections {
            min-height:100px;
        }

        .footer_lhs {
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-family: montserrat;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                font-size: 26px;
                margin-bottom: 0px;
            }

            .social_icons {
                i {
                    font-size: 22px;
                    margin-right: 15px;
                }
            }
        }

        .footer_rhs {
            padding-right: 0px;

            @include media-breakpoint-down(sm) {
                padding-left: 0px;
            }

            .footer_links_container {
                display: flex;
                //justify-content: space-between;
            }

            .footer_links_div {
                margin-top: 5px;
                display: flex;
                flex-direction: column;

                @include media-breakpoint-down(sm) {
                    margin-top: 60px;
                }

                &:last-child {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 60px;
                    }
                }

                h2 {
                    font-size: 15px;
                    font-family: "roboto slab";
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                a {
                    font-size: 14px;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    #footer_bottom {
        background-color: #F25E19;
        font-size: 14px;
        height: 65px;
        color: #fff;
    }
}
/* Footer */