@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    //background-color: #F7F7F7; //overflow-y: hidden;
    background-color: #F2F4F3; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

.max_width {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Header */
#main_header {
    background: #fff;
    height: 85px;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 30px 0px;

    .main_header_container {
        /* Logo section */
        .logo {
            font-family: montserrat;
            font-weight: 700;
            color: #000;
            font-size: 24px;
            text-transform: uppercase;
            padding-right: 30px;
        }
        /* Logo section */

        /* Search section */
        .search {
            display: flex;
            flex-grow: 1;
            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 600;
            padding-left: 15px;

            .mega_menu_select {
                font-size: 10px;
                display: flex;
                padding: 10px;
                border: 1px solid #ddd;
                margin-right: 5px;
                cursor: pointer;

                .browse_icon {
                    margin-left: 5px;
                    i {
                        color: #FD6721;
                        font-size: 18px;
                    }
                }
            }

            .search_input_div {
                width: 400px;
                position: relative;

                @include media-breakpoint-down(md) {
                    width: 250px;
                }
                @include media-breakpoint-down(sm) {
                    width: 200px;
                }

                .search_icon {
                    position: absolute;
                    top:12px;
                    left: 8px;
                    i {
                        font-size: 19px;
                        color: #888;
                    }
                }
                input {
                    height: 100%;
                    width: 100%;
                    background-color: #F7F7F7;
                    border: none;
                    outline: none;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.125);
                    outline: none;
                    border: none;
                    padding: 10px;
                    padding-left: 33px;
                    font-size: 14px;
                }
            }
        }
        /* Search section */

        /* Menu RHS section */
        .menu_rhs {
            display: flex;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
            .text {

            }
            .button {
                margin-left: 15px;
                a {
                    color: #fff;
                    background-color: #FD6721;
                    padding: 10px 20px;
                    border-radius: 25px;
                    text-decoration: none;
                }
            }

            &.logged_in {

            }
        }
        /* Menu RHS section */
    }
}
/* Header */


/* Content */
#content {
    min-height: 75vh;

    .recipe_top_and_bottom_div_row {
        @include media-breakpoint-down(lg) {
            padding: 0px 15px;
        }
    }

    .content_div {
        background-color: #fff;
        min-height: 400px;
        margin-top: 15px;
        padding: 15px;
        height: auto;
        padding: 18px;

        &.recipe_top_div {
            //padding: 18px;
        }

        .recipe_top_row {
            display: flex;
            height: 100%;
        }

        .recipe_top_image_container_lhs {
            img {
                object-fit: cover;
                max-height: 300px;
                min-height: 100%;
                min-width: 100%;
            } 
        }

        .recipe_top_details_rhs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            min-height: 365px;

            & > div {
                margin-bottom: 2.5em;
            }

            & > div:last-child {
                margin-bottom: 0em;
            }

            .recipe_name_author_rating { 

                @include media-breakpoint-down(sm) {
                    margin-top:15px;
                }
                
                h2 {
                    font-family: raleway;
                    font-size: 28px;
                    color: #000;
                    margin-bottom: 15px;
                    line-height: 1.25em;
                }

                .author_and_rating {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .author {
                        font-family: "roboto slab";
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 30px;

                        @include media-breakpoint-down(sm) {
                            margin-top:10px;
                            margin-bottom: 5px;
                        }
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        i {
                            color: #B9B9B9;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            &:hover {
                                color: #FD6721 !important; 
                            }
                        }
                        i.star_full {
                            color: #FD6721;
                        }

                        i.star_empty {
                            color: #B9B9B9;
                        }

                        .rating_count {
                            font-family: "open sans";
                            font-weight: 300;
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }

            .recipe_stats {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 15px;
                .stat {

                    i {
                        margin-right: 8px;
                        font-size: 24px;
                    }
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: #464646;
                    margin-right: 45px;
                    margin-bottom: 15px;

                    /* @include media-breakpoint-down(lg) {
                        margin-bottom: 15px;
                    } */
                }
            }

            .recipe_description {
                color: #444;
                line-height: 1.75em;
                font-size: 15px;
                font-weight: 500;
                font-family: "open sans";
            }

            .recipe_buttons_container {

                display: flex;
                flex-wrap: wrap;

                .recipe_button {
                    background-color: #639B3B;
                    padding: 8px 14px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                    outline: none;
                    border: none;
                    font-family: montserrat;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    @include media-breakpoint-down(xs) {
                        margin-bottom: 10px;
                    }
                   

                    i {
                        margin-left: 10px;
                        font-size: 20px;
                    }
                }
                
            }
        }

        /* Recipe page bottom section */
        .recipe_bottom_ingredients_container_lhs {
            .ingredients_list_div {
                min-height: 50vh;
                background-color: #F7F7F7;
                padding: 30px;
                color: #000;
                font-size: 15px;
                font-weight: 600;

                & > div {
                    padding: 30px 0px;
                    border-bottom: 1px dotted #aaa;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 15px;
                    }

                    &:first-child {
                        padding-top: 15px;
                    }
                }
            }
        }

        .recipe_bottom_steps_container_rhs {
            .directions_step_div {
                border-bottom: 1px solid #D1D1D1;
                padding-bottom: 1.5em;
                margin-bottom: 3em;

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0px;
                }
                .step_count {
                    font-family: montserrat;
                    background-color: #E3961A;
                    padding: 10px 24px;
                    border-radius: 50px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: inline-block;
                    font-size: 14px;
                    margin-bottom: 2em;
                }

                .step_title {
                    font-family: "roboto slab";
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 1.75em;
                    margin-bottom: 2em;
                }

                .directions_image_container {
                    margin-bottom: 2em;
                    img {
                        max-height: 300px;
                    }
                }

                .directions_details_container {
                    min-height: 275px;
                    justify-content: flex-start;

                    .recipe_stats {
                        margin-top: 0px;
                        margin-bottom: 1.5em;
                    }

                    .recipe_direction_description {
                        font-size: 14px;
                        color: #464646;
                        line-height: 1.75em;
                    }
                }
            }
        }

        .recipe_bottom_heading {
            font-family: "roboto slab";
            color: #F25E19;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            padding: 15px 15px 33px;
            margin-bottom: 0px;

            &.directions_heading {
                padding-left: 0px;
            }
        }
    }

    .content_div_large {
        min-height: 700px;
        margin-bottom: 45px;
    }
}
/* Content */


/* Footer */
#footer {
    #footer_top {
        background-color: #333333;
        color: #eee;
        min-height: 250px;
        padding-top: 40px;

        .footer_sections {
            min-height:100px;
        }

        .footer_lhs {
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-family: montserrat;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                font-size: 26px;
                margin-bottom: 0px;
            }

            .social_icons {
                i {
                    font-size: 22px;
                    margin-right: 15px;
                }
            }
        }

        .footer_rhs {
            padding-right: 0px;

            @include media-breakpoint-down(sm) {
                padding-left: 0px;
            }

            .footer_links_container {
                display: flex;
                //justify-content: space-between;
            }

            .footer_links_div {
                margin-top: 5px;
                display: flex;
                flex-direction: column;

                @include media-breakpoint-down(sm) {
                    margin-top: 60px;
                }

                &:last-child {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 60px;
                    }
                }

                h2 {
                    font-size: 15px;
                    font-family: "roboto slab";
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                a {
                    font-size: 14px;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    #footer_bottom {
        background-color: #F25E19;
        font-size: 14px;
        height: 65px;
        color: #fff;
    }
}
/* Footer */